
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 125%;
    display: flex-box;
    flex-flow: row wrap;
    justify-content: center;
    .jumbotron{
        background-image: url(./../img/1.jpg);
        background-size:cover;

        color:whitesmoke;
        h1{
            font-size:800;
            font-weight: bold;
        }
        p.lead{
            font-size:250%;
        }
        p{
            font-size:150%;
        }

    }
 
    .container{
        margin-top:2vh;
        width:90vw;
        height:90vh;
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .izquierda{
            width:35vw;
            height:70h;
            box-shadow: 5px 10px 10px #333;
            background-color: rgb(255, 255, 255);
           /*  background-image: url(./../img/42.jpg);
            background-size: cover;
             */
             .campos{
                margin:2vh;
               
            }
            #productes{
                margin-left:3vw !important;
            }
           
        }
        .derecha{
            width:35vw;
            height:70h;
            box-shadow: 5px 10px 10px #333;
            background-color: #fff;
            
            .table{
                text-decoration: none;
               
    }
        }
        

          .card{
              margin-top: 8vh;
            width:45vw;
            box-shadow: 5px 10px 10px #333;
           } 
    @media print{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
}
.menu {
    width: 120px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    display: none;
  
    .menu-options {
      list-style: none;
      padding: 10px 0;
  
      .menu-option {
        font-weight: 500;
        font-size: 14px;
        padding: 10px 40px 10px 20px;
        cursor: pointer;
  
        &:hover {
          background: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
